<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.triptraxxapps.list">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".einkaufsliste.RenameList"></activity>
        <activity
            android:name=".einkaufsliste.Lists"
            android:label="@string/title_activity_lists"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".einkaufsliste.About" />
        <activity android:name=".einkaufsliste.CreateList" />
        <activity android:name=".einkaufsliste.ListDetail" />
        <activity
            android:name=".einkaufsliste.Import"
            android:launchMode="singleInstance">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:scheme="content"/>

            </intent-filter>



            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="*"
                    android:mimeType="application/json"
                    android:scheme="content"/>
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="content"/>
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.triptraxxapps.list.einkaufsliste.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".widget.WidgetService" />
        <service
            android:name=".widget.ListViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".widget.WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>